<div class="jumbotron">
  <table>
    <tr>
      <th>
        日時
      </th>
      <th>
        コントローラ名
      </th>
      <th>
        メソッド名
      </th>
      <th>
        経過時間
      </th>
    </tr>
    <%= for log <- @logs do %>
    <tr>
      <td>
        <%= log.date %>
      </td>
      <td>
        <%= log.controller %>
      </td>
      <td>
        <%= log.method %>
      </td>
      <td>
        <%= log.elapsedTime %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
